/.vscode
/alt1.ipynb
/AnalisiRedattoriAprile.xlsx
/AnalisiVideoReoubblica.xlsx
/Andrea
/Andrea (Persona 1) - Chrome.lnk
/desktop.ini
/Google Cloud SDK Shell.lnk
/Microsoft Edge.lnk
/Minisito
/Nmap - Zenmap GUI.lnk
/output.png
/Spotify.lnk
/Visual Studio Code.lnk